.c-video {
  &__holder {
    display: block;

  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  &__subtitle {
    color: $neutral-color-5;
    font-size: 12px;
    text-align: center;
  }

  &__scan  {
    background-color: $black;
    border: 3px solid $black;
    height: 300px;
    margin: 45px auto 0;
    overflow: hidden;
    position: relative;
    width: 300px;
    z-index: 1;

    &:after {
      background-color: $white;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &.scanning {
      border-color: $yellow;
    }

    &.scanned {
      border-color: $green; 
    }

    &.hidden {
      display: none !important;
    }
  }

  &__preview {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(-1) !important;
  }

  .c-video__options {
    display: block;
    max-width: 300px;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    button {
      display: inline-block;
    }
  }

  &__tests {
    display: block;
    font-size: 0;
    list-style: none;
    margin-top: 50px;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  &__test {
    display: inline-block;
    vertical-align: top;
    width: 33%
  }
}

@media screen and (max-width: 580px) {
  .c-video__scan {
    width: 100%;
  }
}